/*-----------------------------------------------------------------------------*/
/*-----------------------------------INICIO-----------------------------------*/
/*---------------------------------------------------------------------------*/


@media (max-width: 768px) {
    .inicio-container {
        display: flex; /* Convertir en flexbox */
        flex-direction: column; /* Apilar elementos verticalmente */
        align-items: center; /* Centrar horizontalmente */
        justify-content: center; /* Centrar verticalmente */
        text-align: center;
        width: 100%;
        padding: 20px;
    }

    .inicio-text {
        width: 90%; /* Reducir un poco para evitar pegado a los bordes */
        text-align: center;
        margin: 0 auto; /* Centrar correctamente */
    }

    .inicio-text h1 {
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .btn-servicios {
        padding: 12px 18px;
        display: inline-block; /* Evita que se estire */
        margin-top: 10px; /* Espacio extra */
    }

    .inicio-imagen {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        top: -40px;
    }

    .inicio-imagen img {
        height: auto;
        width: 100%;
        max-width: 500px;
    }
}


/*-----------------------------------------------------------------------------*/
/*------------------------MODALIDAD DE SERVICIOS------------------------------*/
/*---------------------------------------------------------------------------*/


@media (max-width: 768px) {
    .servicio-card {
        max-width: 500px; /* Ajuste de ancho */
    }

    .modServicio-items {
        flex-direction: column;
        align-items: center;
    }

    .modServicio-item {
        width: 90%;
        margin-bottom: 20px;
    }

    .icono-servicio {
        font-size: 140px; 
        color: var(--color-azulSistemgraf);
        margin-bottom: 10px;
    }

}

/*-----------------------------------------------------------------------------*/
/*------------------------------ACERCA DE-------------------------------------*/
/*---------------------------------------------------------------------------*/


@media (max-width: 768px) {
    .acercaDe-content {
        flex-direction: column;
        text-align: center;
    }

    .acercaDe-imagen {
        width: 80%;
        margin-bottom: 20px;
    }

    .acercaDe-texto {
        width: 100%;
    }
}


@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}


/*-----------------------------------------------------------------------------*/
/*---------------------------NUESTRAS SOLUCIONES------------------------------*/
/*---------------------------------------------------------------------------*/


@media (max-width: 768px) {
    .slick-slide {
        display: flex !important;
        justify-content: center;
        align-items: center;
        margin-top: 0 !important;
        padding-top: 0;
        height: 620px;
        width: 100% ;
    }

    .servicio-card {
        width: 95% !important;
        max-width: 350px;
        box-shadow: none;
    }

    .servicio-texto {
        flex-grow: 1;
        width: 90%;
        height: 230px;
        overflow: hidden;
        margin: auto;
        text-overflow: ellipsis;
    }

    .servicio-boton {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-mas-info {
        width: 90%; 
        text-align: center;
    }
}


/*-----------------------------------------------------------------------------*/
/*-------------------------SOCIOS ESTRATEGICOS--------------------------------*/
/*---------------------------------------------------------------------------*/



@media (max-width: 768px) {
    .socios-logos {
        flex-direction: column;
        align-items: center;
    }

}

/*-----------------------------------------------------------------------------*/
/*-------------------------------CONTACTO-------------------------------------*/
/*---------------------------------------------------------------------------*/


@media (max-width: 900px) {
    .contacto-content {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .contacto-form,
    .contacto-info {
        width: 100%;
    }

    .contacto-grid {
        grid-template-columns: 1fr;
        padding: 0px;
    }
}

