@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

:root {
    --color-negro: #181818; 
    --color-azulOscuro: #022C43;
    --color-azulSistemgraf: #006084; 
    --color-azulSistemgrafClaro: #008fc3; 
    --color-amarilloSistemgraf: #F2CD00;   
    --color-azulClaro: #F0F6F8;
    --color-blanco: #ffffff;   
  }


/*-----------------------------------------------------------------------------*/
/*-----------------------------------INICIO-----------------------------------*/
/*---------------------------------------------------------------------------*/

.prueba-slider {
    width: 100%;
    height: 100vh; /* Usa la altura completa de la ventana */
    position: relative;
    overflow: hidden;
}

/*  Estilizar cada slide */
.prueba-container {
    position: relative;
    width: 100vw !important;
    height: 100vh !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    color: white;
    overflow: hidden;
}

.prueba-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

/* Capa de fondo oscura */
.prueba-overlay {
    content: "";
    position: absolute;
    align-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* Texto sobre la imagen */
.prueba-text {
    width: 60%;
    margin: auto;
    text-align: left;
    z-index: 2;
    position: relative;
}

.prueba-text h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

/* Botón de acción */
.prueba-btn {
    background-color: var(--color-amarilloSistemgraf);
    border: none;
    padding: 15px 20px;
    display: inline-flex;
    font-size: 20px;
    cursor: pointer;
    border-radius: 30px;
    color: black !important;
    text-decoration: none !important;
    font-weight: bold;
    transition: transform 0.4s ease-in-out;
    z-index: 2;
    position: relative;
}

.prueba-btn:hover {
    transform: scale(1.1);
}


/*-----------------------------------------------------------------------------*/
/*------------------------MODALIDAD DE SERVICIOS------------------------------*/
/*---------------------------------------------------------------------------*/


.modServicio {
    width: 100%;
    height: auto;
    background-color: var(--color-azulClaro);
    color: black;
    padding: 50px 20px;
    text-align: center;
}

.modServicio-container {
    max-width: 1200px;
    margin: auto;
}


.titulo {
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: var(--color-azulSistemgraf);
}

.subtitulo {
    font-size: 20px;
    margin-bottom: 30px;
}

/* Contenedor de los ítems */
.modServicio-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 40px;
}

/* Cada ítem de servicio */
.modServicio-item {
    width: 22%;
    text-align: center;
}

.icono-servicio {
    width: 150px;
    color: var(--color-azulSistemgraf);
    margin-bottom: 10px;
    transition: transform 0.5s ease-in-out;
}

.icono-servicio:hover {
    transform: scale(1.2);
}

.modServicio-item h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    color: var(--color-azulSistemgraf);
    font-weight: bold;
}

.modServicio-item p {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    margin-top: 5px;
}

/*-----------------------------------------------------------------------------*/
/*------------------------------ACERCA DE-------------------------------------*/
/*---------------------------------------------------------------------------*/


.acercaDe-container {
    width: 100%; /* Ajusta el ancho */
    height: auto; /* Ajusta la altura */
    background-color: var(--color-azulOscuro); /* Color de fondo azul oscuro */
    color: white; /* Color de texto */
    padding: 50px 20px; /* Espaciado interno */
    align-items: center;
    text-align: center;
}

.acercaDe-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

/* Imagen */
.acercaDe-imagen {
    width: 40%;
}

.acercaDe-imagen img {
    width: 100%;
    border-radius: 15px; /* Bordes redondeados */
}

/* Texto */
.acercaDe-texto {
    margin-top: 10px;
    width: 55%;
    text-align: left;
}

.titulo-amarillo {
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: var(--color-amarilloSistemgraf);
}

.acercaDe-texto p {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    margin-top: 10px;
}

/* Botón */
.btn-leer-mas {
    background-color: var(--color-amarilloSistemgraf);
    color: black !important;
    text-decoration: none !important;
    display: inline-flex;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 20px;
    transition: transform 0.5s ease-in-out;
}

.btn-leer-mas:hover {
    transform: scale(1.1); 
}

.acercaDe-caja {
    max-width: 1200px;
    background-color: white; /* Fondo blanco para destacar */
    color: black;
    padding: 20px;
    margin: 30px auto 0; /* Espaciado con la parte superior */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.caja-imagen {
    display: flex;
    justify-content: center; /* Centrar la imagen */
    margin-bottom: 10px; /* Espaciado entre la imagen y el título */
    justify-content: flex-start;
}

.caja-imagen img {
    width: 50px; /* Ajusta el tamaño según prefieras */
    height: 50px;
    background: white;
    object-fit: cover; /* Mantiene la imagen cuadrada sin deformarla */
    border-radius: 10px; /* Opcional: bordes redondeados */
}

.caja-titulo {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-azulOscuro);
    margin-bottom: 10px;
}

.acercaDe-caja p {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}


/*-----------------------------------------------------------------------------*/
/*---------------------------NUESTRAS SOLUCIONES------------------------------*/
/*---------------------------------------------------------------------------*/


.soluciones-container {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 50px 20px;
    background: linear-gradient(to top, var(--color-azulClaro) 30%, var(--color-azulOscuro) 100%); /* Degradado */
    text-align: center;
}

.titulo-soluciones {
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: var(--color-blanco);
}


/* Slider ------------------------------- */
/* Aplica solo a prueba slider */
.prueba-slider .slick-slide {
    margin: 0 !important;
    height: 100vh;
    margin-top: 3px !important;
  }
  
  .prueba-slider .slick-list {
    padding: 0 !important;
    height: 100vh;
  }
  
  .prueba-slider .slick-track {
    display: flex !important;
    height: 100vh;
    gap: 0 !important;
  }
  
.slick-list {
    overflow: hidden; 
}

.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 750px; 
    transition: transform 0.5s ease-in-out;
}

/* Asegurar que la tarjeta activa se destaque y quede bien alineada */
.slick-center .servicio-card {
    transform: scale(1.1); /* Aumenta ligeramente la tarjeta activa */
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
}


.slick-prev,
.slick-next {
    z-index: 10;
    border: none;
}

/* Flecha izquierda */
.slick-prev {
    left: 0px; 
}

/* Flecha derecha */
.slick-next {
    right: 30px; 
}

/* Asegurar que las flechas no se oculten */
.slick-prev::before,
.slick-next::before {
    -webkit-text-stroke: 2px var(--color-azulOscuro); 
    color: var(--color-blanco);
    font-size: 50px;
}


/* Tarjetas de servicio */
.servicio-card {
    margin: 0 auto;
    background: white;
    margin-top: 90px;
    text-align: left; /* Alinear texto a la izquierda */
    max-width: 380px; /* Ajuste de ancho */
    height: 550px; /* Hacer la tarjeta más alargada */
    transition: all 0.5s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
}

/* Efecto para la tarjeta activa */
.servicio-item.active .servicio-card {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

/* 📌 Imagen de la tarjeta */
.servicio-img-container {
    width: 100%;
    height: 160px; /* Reducimos el tamaño de la imagen */
    overflow: hidden;
}

.servicio-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Contenedor del título */
.servicio-title-container {
    height: auto;
    display: flex;
    padding: 15px;
    align-content: center;
    justify-content: center;
}

/* Estilo Título */
.servicio-title {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #222;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Contenedor de la descripción */
.servicio-texto {
    flex-grow: 1;
    width: 350px;
    height: 250px;
    padding: 0px 5px;
    overflow: hidden;
    margin: auto;
    text-overflow: ellipsis;
}

/* Contenedor de Botón */
.servicio-boton {
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  Botón "Leer más" */
.btn-mas-info {
    background-color: var(--color-amarilloSistemgraf); /* Color oscuro para parecerse al de la referencia */
    color: black !important;
    text-decoration: none !important;
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: transform 0.2s ease-in-out;
}

.btn-mas-info:hover {
    transform: scale(1.05);
}


/*-----------------------------------------------------------------------------*/
/*-------------------------SOCIOS ESTRATEGICOS--------------------------------*/
/*---------------------------------------------------------------------------*/



.socios-logos {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 70px;
    margin-bottom: 50px;
}

.socio-logo {
    height: 80px;
    object-fit: contain;
}

.bsolutions {
    padding: 10px 20px;
    width: auto;
    border-radius: 8px;
}

.strategy {
    font-weight: bold;
}



/*-----------------------------------------------------------------------------*/
/*-----------------------------------MAPA-------------------------------------*/
/*---------------------------------------------------------------------------*/



.map-container {
    position: relative;
    width: 100%;
    height: 500px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Contenido del mapa */
.map-content {
    position: relative;
    width: 100%;
    height: 500px; 
    background-color: #eaeaea; 
}

/* Iframe del mapa */
.map-frame {
    width: 100%;
    height: 100%;
    border: none;
}

.contacto-container {
    width: 100%;
    padding: 50px 20px;
    background: var(--color-azulOscuro);
    text-align: center;
}



/*-----------------------------------------------------------------------------*/
/*-------------------------------CONTACTO-------------------------------------*/
/*---------------------------------------------------------------------------*/



.contacto-container {
    width: 100%;
    background-color: var(--color-azulOscuro);
    color: white;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

/* Encabezado centrado */
.contacto-header {
    text-align: center;
    margin-bottom: 30px;
}

.contacto-header h2 {
    font-size: 28px;
    font-weight: bold;
    color: var(--color-amarilloSistemgraf);
}

.contacto-header p {
    font-size: 18px;
    margin-top: 10px;
}

/* Distribución de los elementos */
.contacto-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    gap: 60px;
}

/* Formulario de contacto */
.contacto-form {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
}

/* Campos de entrada */
.input-group {
    display: flex;
    gap: 10px;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.full-width {
    width: 100%;
}

.textarea {
    height: 170px;
}

.btn-enviar {
    width: 100%;
    padding: 12px;
    background-color: var(--color-amarilloSistemgraf);
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.btn-enviar:hover {
    transform: scale(1.05);
}


/* Información de contacto */
.contacto-info {
    width: 60%;
    text-align: center;
}

.contacto-grid {
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 15px;
    margin-top: 20px;
}

.contacto-card {
    width: 95%;
    height: 100px;
    background: var(--color-azulSistemgraf);
    text-align: center;
    align-content: center;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    margin: auto;
}

.contacto-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}
.contacto-card a {
    font-family: 'Rubik', sans-serif;
    color: var(--color-amarilloSistemgraf);
    font-size: 15px;
}

.contacto-card.copied {
    background-color: var(--color-negro);
    border: 1px solid #fff;
}

.contacto-item {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.contacto-item .icono {
    font-size: 24px;
    color: var(--color-amarilloSistemgraf);
    margin-bottom: 10px;
}

.letra-label {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: white;
}

.contacto-item a, .contacto-item p {
    font-family: 'Rubik', sans-serif;
    color: var(--color-azulSistemgraf);
    text-decoration: none !important;
    font-size: 8px;
}

.contacto-item a:hover {
    text-decoration: underline;
}

/* Ajuste para letra blanca en el párrafo */
.letra-blanca {
    font-family: 'Rubik', sans-serif;
    color: white !important;
    text-decoration: none !important;
    font-size: 15px;
    margin-top: 10px;
}
