/*-----------------------------------------------------------------------------*/
/*-----------------------------------INICIO-----------------------------------*/
/*---------------------------------------------------------------------------*/


@media (max-width: 768px) {
    .prueba-text {
        width: 60%;
        margin: auto;
        text-align: center;
        justify-content: space-around;
    }
    .prueba-text h1 {
        font-family: 'Rubik', sans-serif;
        font-size: 35px;
        margin-bottom: 20px;
        font-weight: bold;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    }

    .prueba-btn {
        background-color: var(--color-amarilloSistemgraf);
        border: none;
        padding: 15px 20px;
        display: inline-flex;
        font-size: 15px;
        cursor: pointer;
        border-radius: 30px;
        color: black !important;
        text-decoration: none !important;
        font-weight: bold;
    }
}


/*-----------------------------------------------------------------------------*/
/*------------------------MODALIDAD DE SERVICIOS------------------------------*/
/*---------------------------------------------------------------------------*/


@media (max-width: 768px) {
    .servicio-card {
        max-width: 500px; /* Ajuste de ancho */
        height: 560px;
    }

    .modServicio-items {
        flex-direction: column;
        align-items: center;
    }

    .modServicio-item {
        width: 90%;
        margin-bottom: 20px;
    }

    .icono-servicio {
        font-size: 140px; 
        color: var(--color-azulSistemgraf);
        margin-bottom: 10px;
    }

}

/*-----------------------------------------------------------------------------*/
/*------------------------------ACERCA DE-------------------------------------*/
/*---------------------------------------------------------------------------*/


@media (max-width: 768px) {
    .acercaDe-content {
        flex-direction: column;
        text-align: center;
    }

    .acercaDe-imagen {
        width: 80%;
        margin-bottom: 20px;
    }

    .acercaDe-texto {
        width: 100%;
    }
}


@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}


/*-----------------------------------------------------------------------------*/
/*---------------------------NUESTRAS SOLUCIONES------------------------------*/
/*---------------------------------------------------------------------------*/


@media (max-width: 768px) {
    .slick-slide {
        display: flex !important;
        justify-content: center;
        align-items: center;
        margin-top: 0 !important;
        padding-top: 0;
        height: 750px;
        width: 100% ;
    }

    .servicio-card {
        width: 95% !important;
        margin-top: 0;
        max-width: 350px;
        box-shadow: none;
    }

    .servicio-texto {
        flex-grow: 1;
        width: 90%;
        height: 240px;
        overflow: hidden;
        margin: auto;
        text-overflow: ellipsis;
    }

    .servicio-boton {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-mas-info {
        width: 90%; 
        text-align: center;
    }
    
}


/*-----------------------------------------------------------------------------*/
/*-------------------------SOCIOS ESTRATEGICOS--------------------------------*/
/*---------------------------------------------------------------------------*/



@media (max-width: 768px) {
    .socios-logos {
        flex-direction: column;
        align-items: center;
    }

}

/*-----------------------------------------------------------------------------*/
/*-------------------------------CONTACTO-------------------------------------*/
/*---------------------------------------------------------------------------*/


@media (max-width: 900px) {
    .contacto-content {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .contacto-form,
    .contacto-info {
        width: 100%;
    }

    .contacto-grid {
        grid-template-columns: 1fr;
        padding: 0px;
    }
}

