/* Estilos generales para la sección de servicios */
.container-new {
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Animación Fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.hidden {
  opacity: 0;
  background-color: #007BFF; /* Azul */
  width: 100%; /* Asegura que ocupe el espacio de la imagen */
  height: 100%; /* Mantiene el tamaño correcto */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Aplicar la animación solo cuando la imagen esté cargada */
.fade-in {
  animation: fadeIn 0.8s ease-in-out;
  opacity: 1;
}
/* Tarjeta de servicio */

/* Efecto hover */
.servicio-card-serv:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .servicio-card-serv {
    max-width: 100%;
  }

  .container-new {
    padding: 20px;
  }
}
/* Estilo del subtítulo en negrita con cuadrado */
.subtitulo {
  font-weight: bold;
  color: #444; /* Color del texto */
  display: inline-flex;
  align-items: center;
  margin-right: 8px;
}

/* Cuadrado de color */
.cuadrado {
  width: 10px;
  height: 10px;
  background-color: #0078D7; /* Color del cuadrado */
  display: inline-block;
  margin-right: 6px;
  border-radius: 2px; /* Bordes redondeados */
}