.card-container{
  padding: 20px 15% !important;
}

.title-page{
  color: white;
  margin-bottom: 25px;
  font-size: 450%;
  text-align: center; 
}

@media only screen and (max-width: 1000px) {
  .card-container{
    padding: 20px 0% !important;
  }
  .title-page{
    font-size: 250%;
  }
}

a, .custom-link {
  text-decoration: none; /* Quita el subrayado */
  color: inherit; /* Hereda el color del texto del padre */
}

.quill-content span{
  color: inherit !important; /* Override inline color styles */
  font-size: inherit !important; /* Override inline font-size styles */
}

.quill-content em{
  color: inherit !important; /* Override inline color styles */
  font-size: inherit !important; /* Override inline font-size styles */
}

.ql-align-justify{
  text-align: justify !important; 
}

.ql-align-right{
  text-align: right !important; 
}

.ql-align-left{
  text-align: left !important; 
}