.body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0B2B3E;
}

.container-new {
    flex-direction: row;
    /* flex-wrap: wrap; */ /* Remover esta línea si deseas forzar la fila */
    min-height: 50vh;
    padding: 20px;
    max-width: 100%;
    background-color: #063e5c;
}
.contact-form {
    background-color: #00334E;
    color: white;
    padding: 30px;
    border-radius: 10px;
    flex: 1; /* Allows it to shrink and grow */
    max-width: 400px;
    position: relative;
}

.row{
    padding: 30px;
}
.container-new .row{
    padding: 30px;
    background-color: #00334E;
}
.contact-form img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;
    opacity: 0.3;
    transform: rotate(15deg);
}
.contact-form h2 {
    margin-bottom: 20px;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}
.contact-form button {
    background-color: #FFD700;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.map {
    flex: 1;
    min-width: 300px;
    height: 100%; 
    width: 100%;
    margin-left: 20px;
}
#map {
    height: 100%;  /* Se asegura de que el div ocupe toda la altura */
    width: 100%;
    background-color: #eaeaea;
}
#map iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}
.contacts2 {
    padding: 60px 0;
}
.card {
    padding: 20px;
    text-align: center;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
.mbr-iconfont {
    font-size: 50px;
    color: #007bff;
    display: block;
    margin-bottom: 10px;
}
.contact-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.contact-card:hover {
    transform: scale(1.05);
}

.contact-card.copied {
    background-color: #d1f5d3; /* Verde claro */
}

.copy-message {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(43, 67, 39, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .map {
        margin: 20px 0 0 0;
        width: 100%;
    }
}