/* Título */
.nosotros-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff;
    font-family: 'GoodTimes', sans-serif;
  }
  
  /* Contenedor principal */
  .nosotros-container {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    
  }
  
  .equipo-container{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
  }
  /* Estilos para las tarjetas de misión y visión */
  .nosotros-card {
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .nosotros-card-body {
    padding: 10px;
    background-color: #C0C0C0;
  }
  
  .nosotros-card-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .nosotros-card-img {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .equipo-card-img{
    object-fit: cover;
    width: 150px;
    height: auto;
    border-radius: 10px;
  }

  
.valores-card-img {
  object-fit: contain;
  width: 200px;
  max-width: 100%; 
  height: auto;
  border-radius: 10px;
}

.nosotros-card-text{
  color: #000;
  
}

.bg-darkblue {
  background-color: #022C43; /* Color de fondo específico para la sección principal, misión y visión */
}

.bg-lightblue {
  background-color: #F0F6F8 /* Color de fondo específico para los nuevos contenedores */
}

/* Estilo específico para el título de "Nuestros Valores" */
.valores-title {
    color: #006084;
    font-family: 'GoodTimes', sans-serif;
}

/* Contenedor específico para "Nuestros Valores" */
.valores-container {
  text-align: center;
  padding: 15px;
  max-width: 1500px;
  margin: 0 auto; 
  
}

/* Clase personalizada para ajustar el tamaño del contenedor */
.nosotros-custom-valor-card {
    height: auto; 
    max-width: 100%; 
    background-color: #C0C0C0;
    border: none; /* Sin borde */
    padding: 15px;
}



.text-center {
  text-align: center;
}

.img-large {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    margin: 15px auto;
    display: block;
}

@media (max-width: 768px) {
  .nosotros-card-body {
    text-align: center;
    padding: 10px;
  }

  .nosotros-card-img-container {
    margin-bottom: 10px;
  }

  .valores-card-img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .valores-container{
    max-width: 500px;
   
  }
  .equipo-container{
    max-width: 400px;
  }
  
}